<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Snapchat Web Extension</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="../styles/authorization.css">


</head>
<body>
  <div class="header">
    <div class="container">
      <h1 class="main">Deluvity</h1>
    </div>
  </div>
  <div class="auth">
    <!-- <div class="container"> -->
      <p>Enter your Token:</p>
      <input id="inputToken">
    <!-- </div> -->
    <button class="login" id="loginButton" type="button">Login</button>
  </div>
  <div class="message" id="message"></div>
  <button class="btn" id="startButton" style="display: none;">Запустить</button>
  <script src="../scripts/authorization.js"></script>
</body>
</html>
